@import "tailwindcss";

@theme {

  /* ===================== */
  /* COLORS                */
  /* ===================== */
  /* *primary* */
  --color-primary-default: #587B7F;
  --color-primary-dark: #2D4953;
  --color-primary-light: #BFEDEF;

  /* *secondary* */
  --color-secondary-default: #74394E;
  --color-secondary-dark: #470024;
  --color-secondary-light: #A07178;

  /* *accent* */
  --color-black-accent-default: #242424;
  --color-black-accent-dark: #1C1C1C;
  --color-black-accent-light: #313131;

  --color-white-accent-default: #E6E6E6;
  --color-white-accent-dark: #ACACAC;
  --color-white-accent-light: #F0F8FF;

  /* *others* */
  --color-success: #08B87D;
  --color-error: #FD3232;
  --color-warning: #FFCC00;
  --color-info: navy;

  /* ===================== */
  /* FONTS                 */
  /* ===================== */
  --font-logo: 'Dustrone', sans-serif;
  --font-title: 'Montserrat', sans-serif;
  --font-subtitle: 'Plus Jakarta Sans', sans-serif;
  --font-text: 'Inter', sans-serif;

  /* *FONT WEIGHT* */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* ===================== */
  /* RADIUS                */
  /* ===================== */
  --radius-small: 6px;
  --radius-medium: 8px;
  --radius-large: 12px;
  --radius-full: 9999px;

  /* ========================= */
  /* TYPOGRAPHY CLAMP          */
  /* ========================= */
  --text-sm: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem);
  --text-base: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  --text-lg: clamp(1.125rem, 1.0417rem + 0.4167vw, 1.375rem);
  --text-xl: clamp(1.25rem, 1.0833rem + 0.8333vw, 1.75rem);
  --text-2xl: clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);
  --text-3xl: clamp(1.875rem, 1.5rem + 1.875vw, 3rem);

  /* ==================================== */
  /* SPACING CLAMP                        */
  /* ==================================== */
  --spacing-xs: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem);
  --spacing-s: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  --spacing-m: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
  --spacing-l: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.5rem);
  --spacing-xl: clamp(2rem, 1.5rem + 2.5vw, 3.5rem);
  --spacing-2xl: clamp(3rem, 2.3333rem + 3.3333vw, 5rem);
  --spacing-3xl: 4.00rem;
}

/* 🛠️ TES CLASSES UTILITAIRES PERSONNALISÉES (Optionnel) */
/* @layer components {
  .btn-primary {
    @apply bg-brand-primary text-white font-bold py-2 px-4 rounded-button transition-colors hover:bg-brand-secondary;
  }
} */