@import "tailwindcss";

@theme {

  /* COLORS*/
  /* *primary* */
  --color-primary-default: #587B7F;
  --color-primary-dark: #2D4953;
  --color-primary-light: #BFEDEF;

  /* *secondary* */
  --color-secondary-default: #74394E;
  --color-secondary-dark: #470024;
  --color-secondary-light: #A07178;

  /* *accent* */
  --color-black-accent-default: #242424;
  --color-black-accent-dark: #1C1C1C;
  --color-black-accent-light: #313131;

  --color-white-accent-default: #E6E6E6;
  --color-white-accent-dark: #ACACAC;
  --color-white-accent-light: #F0F8FF;

  /* *others* */
  --color-success: #08B87D;
  --color-error: #FD3232;
  --color-warning: #FFCC00;
  --color-info: navy;

  /* FONTS */
  --font-logo: 'Dustrone', sans-serif;
  --font-title: 'Montserrat', sans-serif;
  /*(maybe  Dustrone font for titles)*/
  --font-subtitle: 'Plus Jakarta Sans', sans-serif;
  --font-text: 'Inter', sans-serif;

  /*FONT WEIGHT*/
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* RADIUS */
  --radius-small: 6px;
  --radius-medium: 8px;
  --radius-large: 12px;
  --radius-full: 9999px;

  /* Spaces*/
  --spacing-xs: 0.25rem;
  --spacing-s: 0.50rem;
  --spacing-m: 1.00rem;
  --spacing-l: 1.50rem;
  --spacing-xl: 2.00rem;
  --spacing-2xl: 3.00rem;
  --spacing-3xl: 4.00rem;
}

/* 🛠️ TES CLASSES UTILITAIRES PERSONNALISÉES (Optionnel) */
/* @layer components {
  .btn-primary {
    @apply bg-brand-primary text-white font-bold py-2 px-4 rounded-button transition-colors hover:bg-brand-secondary;
  }
} */