# ─── BASE DE DONNÉES (Docker) ────────────────────────────────────────────
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=taskforce_db
DB_PORT=5432
DB_HOST=taskforce_db

# ─── BACKEND (API .NET) ───────────────────────────────────────────────────
ASPNETCORE_ENVIRONMENT=Development
API_URL=http://api.taskforce.local

# ─── FRONTEND (React / Vite) ────────────────────────────────────────────── 
VITE_API_URL=http://api.taskforce.local
