# ─── BASE DE DONNÉES (Docker) ────────────────────────────────────────────
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME
DB_PORT=DB_PORT
DB_HOST=DB_HOST

# ─── REDIS ───────────────────────────────────────────────────────────────
REDIS_PASSWORD=REDIS_PASSWORD

# ─── SÉCURITÉ (JWT) ──────────────────────────────────────────────────────
JWT_KEY=SOME_BIT_SECRET_KEY
JWT_ISSUER=taskforce.local
JWT_AUDIENCE=taskforce.local

# ─── BACKEND (API .NET) ──────────────────────────────────────────────────
ASPNETCORE_ENVIRONMENT=Development
API_URL=http://api.taskforce.local

# ─── FRONTEND (React / Vite) ───────────────────────────────────────────── 
VITE_API_URL=https://api.taskforce.local